client/LearnLanguages.DataAccess.WcfProxy/Service References/WcfServices.Language/Language.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LearnLanguage/Language?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LanguageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageDto" nillable="true" type="tns:LanguageDto" />
  <xs:complexType name="ArrayOfLanguageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageDto" nillable="true" type="tns:LanguageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageDto" nillable="true" type="tns:ArrayOfLanguageDto" />
</xs:schema>