client/LearnLanguages.DataAccess.WcfProxy/Service References/WcfServices.Language/Language3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LearnLanguage/Language?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnLanguages" />
  <xs:import schemaLocation="http://localhost:8000/LearnLanguage/Language?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/LearnLanguage/Language?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" />
  <xs:element name="New">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="NewResult" nillable="true" type="q1:ResultOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fetch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="FetchResult" nillable="true" type="q3:ResultOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" minOccurs="0" name="dto" nillable="true" type="q4:LanguageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="UpdateResult" nillable="true" type="q5:ResultOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" minOccurs="0" name="dto" nillable="true" type="q6:LanguageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="InsertResult" nillable="true" type="q7:ResultOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="DeleteResult" nillable="true" type="q9:ResultOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LearnLanguages" minOccurs="0" name="GetAllResult" nillable="true" type="q10:ResultOfArrayOfLanguageDtociihImHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>