client/LearnLanguages.DataAccess.WcfProxy/Service References/WcfServices.Phrase/Phrase1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LearnLanguage/Phrase?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PhraseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LanguageId" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhraseDto" nillable="true" type="tns:PhraseDto" />
  <xs:complexType name="ArrayOfPhraseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhraseDto" nillable="true" type="tns:PhraseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhraseDto" nillable="true" type="tns:ArrayOfPhraseDto" />
</xs:schema>