client/LearnLanguages.DataAccess.WcfProxy/Service References/WcfServices.Phrase/PhraseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhraseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/LearnLanguage/Phrase?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/LearnLanguage/Phrase?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/LearnLanguage/Phrase?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnLanguages" />
      <xsd:import schemaLocation="http://localhost:8000/LearnLanguage/Phrase?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LearnLanguages.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhraseDal_New_InputMessage">
    <wsdl:part name="parameters" element="tns:New" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_New_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Fetch_InputMessage">
    <wsdl:part name="parameters" element="tns:Fetch" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Fetch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPhraseDal_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhraseDal">
    <wsdl:operation name="New">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/New" message="tns:IPhraseDal_New_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/NewResponse" message="tns:IPhraseDal_New_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fetch">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/Fetch" message="tns:IPhraseDal_Fetch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/FetchResponse" message="tns:IPhraseDal_Fetch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/Update" message="tns:IPhraseDal_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/UpdateResponse" message="tns:IPhraseDal_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/Insert" message="tns:IPhraseDal_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/InsertResponse" message="tns:IPhraseDal_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/Delete" message="tns:IPhraseDal_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/DeleteResponse" message="tns:IPhraseDal_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseDal/GetAll" message="tns:IPhraseDal_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseDal/GetAllResponse" message="tns:IPhraseDal_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhraseDal" type="tns:IPhraseDal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="New">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/Fetch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPhraseDal/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhraseService">
    <wsdl:port name="BasicHttpBinding_IPhraseDal" binding="tns:BasicHttpBinding_IPhraseDal">
      <soap:address location="http://localhost:8000/LearnLanguage/Phrase/PhraseService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>